*, html {
    margin:0;
    padding:0;  
}


body {
    font-family: "Karla", sans-serif;
    font-size: 1.25em;


}

.header {
    text-align: left;
    color: white;
    font-size: 2em;
    padding-bottom:10px;
    margin-left:30px;


}

.header-container {
    background-color:#3F88C5 ;
    display:flex;

    margin: 0;


}

.navbar {

    width: 60%;
    display: flex;
;


}

.navbar--list {
    
    display: flex;
    width: 100%;
    flex-direction: row;
    list-style-type: none;
    margin: auto 0;
    margin-left: 20%;
    justify-content: center;




}

.navbar--list-item {

    color: white;
    text-align: center;
    padding: 3% 2%;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    width:20%;
}

.navbar--list-item:hover {
    background-color:#36454F;
}

.form-style {
    text-align: left;
    width:20%;
    margin-left:80%;
    margin:20px ;
    border: green solid;
    top:-40px;
}

.weigh-in-container {
    width: 50%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    margin-top:1%;
}

.weight-title {
    text-align: center;
    margin-bottom: 4px;
    color: #1C3144 ; 
    font-size: 60px;

}

.weigh-in--goal {
    text-align: center;
    margin-top:10px;
}

.weight-list--enter-weight-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:5% 0;
}

.weight-list--weight-string {
    margin-right: 10px;
}

.weight-list {
    list-style: none;
    font-size: 20px;
    padding: 5px;

}



.enter-button {
    background-color: #3F88C5;
    color:white;
    border:none;
    padding: 1% 0;
    width:60px;
    font-size:20px;
    margin-left:5px;
    border-radius:5px;
    
}

.enter-button:hover {
    background-color: #1C3144;
}

.submit-button {
    background-color: #3F88C5;
    color:white;
    border:none;
    padding: 0.5% 0;
    width:70px;
    font-size:20px;
    margin-left:5px;
    border-radius:5px;
    
}

.edit-button {
    background-color: #3F88C5;
    color:white;
    border:none;
    padding: 0.5% 0;
    width:50px;
    font-size:20px;
    margin-left:0;
    border-radius:5px;
    
}

.edit-button:hover {
    background-color: #1C3144;
}

.individual-weight{
    width: 40%;
    margin: 0 auto;
    margin-bottom:5%;
    font-size: 22px;
    color:white;
    text-align: center;
    background-color: #3F88C5;
    border-radius: 5px;
    padding:15px;

}

.individual-weight--date{
    margin-top:10px;
}

.individual-weight--weight{
    font-size: 30px;
}



.delete-button {
    margin-top:20px;
    background-color: #1C3144;
    color:white;
    border:none;
    font-size:20px;
    border-radius: 5px;
    padding:10px;
}

.delete-button:hover{
    background-color: #405c73;
}

.enter-weight {
 
    width:8%;
    text-align: center;
    font-size: 1em;
    padding:0.5%;
    border: solid #1C3144 2px;
    border-radius: 5px;
    
}

.enter-weight:hover{
    border: solid #405c73 2px;
    border-radius:5px;
}

.homepage-container {
    text-align:center;
    margin-top:0.5%;
}