*, html {
    margin:0;
    padding:0;  
}


body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 24px;
    background-color: #1C3144 ;
}

.header {
    text-align: center;
    color: white;
    
    font-size: 40px;
    
    
}

.header-container {
    background-color:#3F88C5 ;
    
    
}

.design-message {
    position: fixed;
    left:20px;
    top:10px;
    
    
    font-size: 18px;
    color: white;
}
.form-style {
    text-align: left;
    width:20%;
    margin-left:80%;
    margin:20px ;
    border: green;
    top:-40px;
}

.weigh-in {
    width:20%;
    background-color: #A2AEBB ;
    text-align: left;
    padding-left:10px;
    display:flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 5px;
    
    
    
    
}

.weight-title {
    margin-bottom: 4px;
    color: #1C3144 ; 
    font-size: 38px;
    text-decoration: underline;
}

.weight-list {
    list-style: none;
    font-size: 20px;
    padding: 5px;
    

    
}

.enter-weight {
    height:25px;
    width:70px;
    text-align: center;
    font-size: 17px;
    
}

.enter-button {
    background-color: #3F88C5;
    color:white;
    border:none;
    height:25px;
    width:60px;
    font-size:20px;
    margin-left:5px;
    border-radius:5px;
    
}



.individual-weight{
    display: inline-block;
    width:70%;
    margin-bottom:8px;
    font-size: 22px;
}



.center-delete {
    margin-left: 10%; 
    display: inline-block; 
}

.delete-button {
    background-color: #3F88C5;
    color:white;
    border:none;
    height:20px;
    width:55px;
    font-size:18px;
    border-radius: 5px;
}
